.contactContainer {
  margin-top: 20px;
  padding: 10px;
  margin: auto;
  width: 70%;
  height: 80%;
  /* border: 2px solid red; */
}
.contactContainer h1 img {
  width: 25px;
  height: 25px;
}

.contactCointainer {
  width: 80%;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  /* border: 2px solid blue; */
}
.contactListHeading {
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  font-size: 40px;
  background-color: #bb00ff;
  color: #e7e7e7;
}
.contactIcons {
  width: 22px;
}
.contacHeadingElement {
  width: 30%;
  display: flex;
  padding-left: 24px;
  align-content: start;
}

.contactList{
    display:flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    border-top:2px solid rebeccapurple
}
.contactList:nth-child(2n+1){
    background-color: #bbb8e2;
}
.contactList:hover{
    background-color: rgb(128, 103, 216);
    color: white;
}
.contactElement{
    width: 30%;
    display: flex;
    padding-left: 24px;
    align-content: start;
}
.contactPhoneNo{
    width: 33%;
}
.contactEmail{
    width: 33%;
}

.contactListFormbtn{
    border: none;
    background-color: transparent;
    
}
.contactIconsbtn {
    width: 35px;
    
} 
.contactListForm form{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.contactListForm form input{
    width: 200px;
    height: 40px;
    margin: 10px;
    font-size: 17px;
    cursor: pointer;
}
@media only screen and (max-width: 1390px) {
    .contactListForm form{
        flex-direction: column;
        width: 35%;
    }
    .contactCointainer{
        width: 100%;
        overflow: hidden;
    }
    .contactListHeading{
        font-size: 30px;
    }
}
