.contactContainer {
  margin-top: 20px;
  margin: auto;
  width: 70%;
  height: 80%;
  margin: auto;
  margin-top: 40px;
  min-width: 450px;
}
.contactContainer h1 img {
  width: 25px;
  height: 25px;
}
.contactContainer ul{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.contactListHeading {
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  font-size: 40px;
  background-color: #bb00ff;
  color: #e7e7e7;
}
.contactIcons {
  width: 22px;
}
.contacHeadingElement {
  width: 30%;
  display: flex;
  /* padding-left: 24px; */
  align-content: start;
}

.contactList {
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rebeccapurple;
}
.contactList:nth-child(2n + 1) {
  background-color: #bbb8e2;
}
.contactList:hover {
  background-color: rgb(128, 103, 216);
  color: white;
}
.contactElement {
  width: 30%;
  display: flex;
  /* padding-left: 24px; */
  align-content: start;
}
.BtnDiv{
  width: 70px;
}
.editAndDeleteBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.contactListFormbtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.contactIconsbtn {
  width: 35px;
}
.contactListForm form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contactListForm form input {
  width: 200px;
  height: 40px;
  margin: 10px;
  font-size: 17px;
  cursor: pointer;
}
@media only screen and (max-width: 1390px) {
  .contactListForm form {
    flex-direction: column;
    width: 35%;
  }
  
}
@media only screen and (max-width: 960px) {
  .contactContainer{
    width: 100%;
  }
  
}
@media only screen and (max-width: 960px) {
  .contactList{
    height: 60px;
  }
  .contactListHeading{
    font-size: 30px;
  }
  
  
}
@media only screen and (max-width: 660px){
  .hidden{
    display: none;
  }
  .contacHeadingElement{
    position: relative;
    left: -30px;
  }
}